# copy this to a file named "api-keys.properties" in the same directory and put in the real keys

mixpanelAppTokenInternal = your-key-here
mixpanelAppTokenProd = your-key-here

hockeyAppKey = your-key-here
hockeyAppKeyCand = your-key-here
hockeyAppKeyProd =  your-key-here
hockeyAppKeyInternal = your-key-here
hockeyAppKeyAvs = your-key-here
hockeyAppKeyQa = your-key-here
hockeyAppKeyExperimental = your-key-here
