<!--

    Wire
    Copyright (C) 2016 Wire Swiss GmbH

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">>
    <application xmlns:tools="http://schemas.android.com/tools"
        android:name="com.waz.zclient.StethoApplication"
        tools:replace="android:name">
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <receiver tools:ignore="ExportedReceiver" android:name="com.waz.zclient.PreferenceReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.waz.zclient.intent.action.AUTO_ANSWER_CALL" />
                <action android:name="com.waz.zclient.intent.action.ENABLE_GCM" />
                <action android:name="com.waz.zclient.intent.action.DISABLE_GCM" />
                <action android:name="com.waz.zclient.intent.action.USE_ASSET_V2" />
                <action android:name="com.waz.zclient.intent.action.USE_ASSET_V3" />
                <action android:name="com.waz.zclient.intent.action.CALLING_V2" />
                <action android:name="com.waz.zclient.intent.action.CALLING_V3" />
                <action android:name="com.waz.zclient.intent.action.CALLING_BE_SWITCH" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
